<div class="page-header">
    <h1>User registration</h1>
</div>
<div ng-show="main.loading">
    Loading...
</div>
<form ng-submit="main.dologin(loginData)">
    <div>
        <label for="username"> Username</label>
        <input class="form-control" name="username" id="username" ng-model="main.loginData.username">
        <label for="password"> Password</label>
        <input class="form-control" name="password" id="password" type="password" ng-model="main.loginData.password">
    </div>

    <hr>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

<br>
    <div ng-show="main.successMsg" class="show-hide-message ng-hide-remove alert alert-success">{{main.successMsg}}</div>
    <br>
    <div ng-show="main.errorMsg" class="show-hide-message ng-hide-remove alert alert-danger">{{main.errorMsg}}</div>
