<div class="page-header">
    <h1>User registration</h1>
</div>

<form ng-submit="register.regUser(regData)">
    <div>
        <label for="username"> Username</label>
        <input class="form-control" name="username" id="username" ng-model="register.regData.username">
        <label for="password"> Password</label>
        <input class="form-control" name="password" id="password" type="password" ng-model="register.regData.password">
        <label for="email"> Email</label>
        <input class="form-control" name="email" id="email" type="text" ng-model="register.regData.email">
    </div>

    <hr>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

<div ng-show="register.loading">
    Loading...
</div>
<br>
    <div ng-show="register.flag_successMsg" class="show-hide-message ng-hide-remove alert alert-success">{{register.successMsg}}</div>
    <br>
    <div ng-show="register.flag_errorMsg" class="show-hide-message ng-hide-remove alert alert-danger">{{register.errorMsg}}</div>
